@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@fortawesome/fontawesome-free/css/all.css";

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}



.flex {
  display: flex;
}

.min-h-screen {
  min-height: 100vh;
}

.w-48 {
  width: 12rem; /* Adjust if needed */
}

.bg-gray-800 {
  background-color: #1a202c;
}

.text-white {
  color: white;
}

.flex-1 {
  flex: 1;
}

.p-8 {
  padding: 2rem;
}

.hover\\:underline:hover {
  text-decoration: underline;
}
