@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f8f9fa;
}

html,
body {
  height: 100%;
}

.flex {
  display: flex;
}

.min-h-screen {
  min-height: 100vh;
}

.w-48 {
  width: 12rem; /* Adjust if needed */
}

.bg-gray-800 {
  background-color: #1a202c;
}

.text-white {
  color: white;
}

.flex-1 {
  flex: 1;
}

.p-8 {
  padding: 2rem;
}

.hover\\:underline:hover {
  text-decoration: underline;
}
